
<div class="c-chat-wrap">
  <div class="chat-inner">
    <div class="chat-head">
      <div class="chat-head-inner"><i class="fa fa-comment-o chat-head-ico"></i>
        <h1 class="chat-head-ico chat-head-text">Chat</h1>
      </div>
    </div>
    <div class="c-conf-wrap">
      <ol class="conversation">
        <li class="self">
          <div class="message">
            <p>Hello, how are you?</p>
            <time datetime="2009-11-13T20:00"><i class="fa fa-clock-o ico-time"></i>Timothy • 51 min</time>
          </div>
        </li>
        <li class="other">
          <div class="chat-avatar-wrapper"><img src="../app/public/images/12.png" class="chat-avatar"/></div>
          <div class="message">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            <time datetime="2009-11-13T20:00"><i class="fa fa-clock-o ico-time"></i>Timothy • 51 min</time>
          </div>
        </li>
        <li class="self">
          <div class="message">
            <p>It is a long established fact that a reader will be distracted</p>
            <time datetime="2009-11-13T20:00"><i class="fa fa-clock-o ico-time"></i>Timothy • 51 min</time>
          </div>
        </li>
        <li class="other">
          <div class="chat-avatar-wrapper"><img src="../app/public/images/12.png" class="chat-avatar"/></div>
          <div class="message">
            <p>Contrary to popular belief</p>
            <time datetime="2009-11-13T20:00"><i class="fa fa-clock-o ico-time"></i>Timothy • 51 min</time>
          </div>
        </li>
      </ol>
    </div>
    <div class="form-chat"><a href="#" class="paperclip-link"><i class="fa fa-paperclip"></i></a>
      <input type="text" placeholder="Send message" class="form-chat__control"/><a href="#" class="emoticons-link"><i class="fa fa-smile-o"></i></a>
    </div>
  </div>
</div>