html {
  box-sizing: border-box; }

html,
body {
  height: 100%; }

* {
  margin: 0;
  padding: 0; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

img,
video,
canvas {
  max-width: 100%; }

iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

h2 {
  font-size: 14px;
  font-size: 0.875rem;
  color: rgba(117, 117, 117, 0.87);
  font-weight: 500; }

.form-control,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
textarea {
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  outline: none;
  padding-left: 0; }

/* Let's get this party started */
::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 0; }

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: rgba(0, 0, 0, 0.2); }

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.3); }

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/calibri.ttf") format("truetype"); }

@font-face {
  font-family: 'robotoregular';
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular-webfont.woff2") format("woff2"), url("Roboto-Regular-webfont.woff") format("woff"), url("Roboto-Regular-webfont.ttf") format("truetype"), url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container::after {
    clear: both;
    content: '';
    display: table; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row::after {
    clear: both;
    content: '';
    display: table; }

.content {
  padding-top: 90px;
  position: relative;
  transition: all 0.3s ease-in-out; }
  .content.active {
    left: 280px; }

.p-col, .u-avatar-wrapper, .u-info, .c-form, .r-company {
  padding-left: 15px;
  padding-right: 15px; }

.content-block {
  left: 0;
  position: relative;
  transition: all 0.3s ease-in-out;
  top: 50px; }
  .content-block.active {
    left: 280px; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.btn, .quick-view__info-link, .landing-register-link, .user-button, .company-head__btn, .submit-wrapper .c-btn-submit {
  font-size: 14px;
  font-size: 0.875rem;
  border-radius: 2px;
  display: inline-block;
  margin: 0 0.29em;
  min-width: 5.14em;
  padding: 0.7em 0.57em;
  text-align: center;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear; }

.btn-lg, .landing-register-link, .login-button, .register-button {
  padding: 1.2em 1.5em; }

.btn-link, .login-button, .register-button {
  font-size: 14px;
  font-size: 0.875rem;
  color: #fff; }
  .btn-link:hover, .login-button:hover, .register-button:hover {
    text-decoration: underline; }

.btn-block, .login-button, .register-button, .user-button {
  display: block; }

.raised-btn {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.btn-primary {
  background-color: #86ad73;
  color: #fff; }
  .btn-primary:hover {
    background-color: #a2c093; }

.btn-danger {
  background-color: #c6463d;
  color: #fff; }
  .btn-danger:hover {
    background-color: #d26c64; }

.btn-inverse {
  background-color: #383838;
  color: #fff; }
  .btn-inverse:hover {
    background-color: #525252; }

.btn-warning {
  background-color: #f1c40f;
  color: #fff; }
  .btn-warning:hover {
    background-color: #f4d03f; }

.btn-default {
  background-color: #bdc3c7;
  color: #fff; }
  .btn-default:hover {
    background-color: #d9dcde; }

.btn-success {
  background-color: #2ecc71;
  color: #fff; }
  .btn-success:hover {
    background-color: #54d98c; }

.btn-info, .quick-view__info-link, .landing-register-link, .user-button, .company-head__btn, .submit-wrapper .c-btn-submit {
  /*background: linear-gradient(135deg, rgba(3, 170, 244, 1) 50%,
                                      rgba(41, 137, 216, 1) 50%,
                                      rgba(4, 174, 245, 1) 50%);*/
  /*background: linear-gradient(135deg, rgba(12,107,149,1) 50%,
                                      rgba(32,124,202,1) 50%,
                                      rgba(41,137,216,1) 50%,
                                      rgba(14,111,152,1) 50%);*/
  background-color: #59728e;
  color: #fff; }
  .btn-info:hover, .quick-view__info-link:hover, .landing-register-link:hover, .user-button:hover, .company-head__btn:hover, .submit-wrapper .c-btn-submit:hover {
    background-color: #5faee3; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.selectBox {
  min-width: 5.14em;
  cursor: pointer;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 0.57em;
  border: 1px solid #e6e6e6;
  border-radius: 2px; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.user-cards {
  text-align: justify; }
  .user-cards .gap {
    width: 23%;
    opacity: 0;
    height: 0;
    display: inline-block; }

.ui-card {
  background-color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  margin-bottom: 2em;
  position: relative; }
  @media (min-width: 768px) {
    .ui-card {
      width: 48%;
      display: inline-block; } }
  @media (min-width: 992px) {
    .ui-card {
      width: 24%;
      display: inline-block; } }
  @media (min-width: 1200px) {
    .ui-card {
      width: 17%;
      display: inline-block; } }

.card-image {
  display: block;
  position: relative;
  padding: 0;
  background: rgba(0, 0, 0, 0.05); }
  .card-image img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.2857rem 0.2857rem 0 0;
    border: none; }
  .card-image:hover .card-overlay {
    visibility: visible;
    transition: all 0.3s ease-in-out;
    opacity: 1; }

.card-content {
  background: 0 0;
  margin: 0;
  padding: 6px 12px;
  box-shadow: none;
  font-size: 1em;
  border: none;
  border-radius: 0; }
  .card-content h1 {
    font-size: 14px;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold; }
  .card-content .meta {
    font-size: 12px;
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.7); }
    .card-content .meta .indicate {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 5px; }
  .card-content .group {
    color: rgba(0, 0, 0, 0.54);
    display: inline-block;
    font-weight: 500; }
  .card-content .description {
    margin-top: .5em;
    text-align: left;
    font-size: 12px;
    font-size: 0.75rem; }

.test-result {
  font-size: 12px;
  font-size: 0.75rem;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 6px 12px; }
  .test-result::after {
    clear: both;
    content: '';
    display: table; }

.card-footer:nth-child(2) {
  margin-left: 5px; }

.test-score {
  font-size: 11px;
  font-size: 0.6875rem;
  color: #999; }

.test-text {
  float: right;
  margin-right: 5px; }

.card-overlay {
  position: absolute;
  border-radius: 0.2857rem 0.2857rem 0 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  text-align: center; }
  .card-overlay .btns-wrap {
    bottom: auto;
    left: 50%;
    right: auto;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    position: absolute; }
    .card-overlay .btns-wrap :last-child {
      margin-left: 10px; }
  .card-overlay .card-overlay-link {
    font-size: 12px;
    font-size: 0.75rem;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 6px 8px;
    border: 2px solid #fff;
    border-radius: 2px; }
    .card-overlay .card-overlay-link:hover {
      background-color: #fff;
      color: rgba(0, 0, 0, 0.87); }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.c-header-wrapper {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.04) 0 1px;
  height: 60px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 9999999999999; }
  .c-header-wrapper.active {
    left: 280px; }

.header-row {
  margin-left: auto;
  margin-right: auto;
  max-width: 88.28125%;
  height: 50px;
  position: relative; }

.header-inner {
  height: 60px;
  position: relative; }

.navbar-header {
  float: left;
  margin-right: 40px;
  position: relative;
  top: 18px;
  left: 35px; }
  @media only screen and (max-width: 960px) {
    .navbar-header {
      float: none; } }

.c-header__list {
  height: 65px; }
  @media only screen and (max-width: 768px) {
    .c-header__list {
      height: auto; }
      .c-header__list:first-child {
        border-top: 1px solid rgba(0, 0, 0, 0.15); }
      .c-header__list:last-child {
        box-shadow: 0 1px 1px rgba(34, 34, 34, 0.15); } }

.c-header__list-item {
  display: inline-block;
  height: 100%;
  margin-right: 40px; }
  @media only screen and (max-width: 768px) {
    .c-header__list-item {
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      display: block;
      margin-right: 0; }
      .c-header__list-item:hover {
        background-color: rgba(0, 0, 0, 0.05);
        transition: all 0.4s ease; } }

.c-header__company-name {
  display: inline-block;
  vertical-align: middle; }
  @media only screen and (max-width: 768px) {
    .c-header__company-name {
      display: block;
      float: right; } }

.c-header__name {
  font-size: 20px;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 300; }

.c-header__nav {
  display: inline-block;
  float: left;
  margin-left: 60px;
  vertical-align: middle; }
  @media only screen and (max-width: 768px) {
    .c-header__nav {
      background-color: #fff;
      display: none;
      margin-left: 0;
      position: absolute;
      text-align: center;
      top: 65px;
      width: 100%; } }
  .c-header__nav.active {
    display: block;
    transition: all 0.4s ease-in-out; }

.aside-toggle-wrapper {
  color: transparent;
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  top: 0;
  white-space: nowrap;
  width: 50px;
  position: absolute; }

.aside-toggle-wrapper.active .btn-aside-toggle {
  background-color: transparent; }

.aside-toggle-wrapper.active .btn-aside-toggle:before,
.aside-toggle-wrapper.active .btn-aside-toggle:after {
  top: 0; }

.aside-toggle-wrapper.active .btn-aside-toggle:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.aside-toggle-wrapper.active .btn-aside-toggle:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.btn-aside-toggle {
  position: absolute;
  width: 20px;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  transition: background-color 0.3s 0.3s;
  background-color: rgba(0, 0, 0, 0.87);
  height: 1px;
  margin-top: 0; }

.btn-aside-toggle:before,
.btn-aside-toggle:after {
  background-color: rgba(0, 0, 0, 0.87);
  content: '';
  height: 100%;
  position: absolute;
  transition: -webkit-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
  width: 100%; }

.btn-aside-toggle:before {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px); }

.btn-aside-toggle:after {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px); }

.navbar-btns {
  float: left;
  height: 60px;
  margin-right: 15px; }
  @media only screen and (max-width: 960px) {
    .navbar-btns {
      display: none;
      position: absolute;
      height: auto;
      background-color: #fff;
      top: 44px;
      right: 0;
      border: 1px solid #eee;
      border-radius: 3px;
      margin-right: 0;
      z-index: 5; } }

.navbar-btns__item {
  display: inline-block;
  margin-right: 15px; }
  @media only screen and (max-width: 960px) {
    .navbar-btns__item {
      margin-right: 0;
      display: block; }
      .navbar-btns__item:hover {
        background-color: rgba(0, 0, 0, 0.04); } }

.navbar-ico i:hover {
  color: #59728e; }

.navbar-ico.img-replace {
  font-size: 0px;
  font-size: 0rem;
  overflow: hidden;
  color: transparent;
  white-space: nowrap; }
  @media only screen and (max-width: 960px) {
    .navbar-ico.img-replace {
      font-size: 11px;
      font-size: 0.6875rem;
      color: #333;
      overflow: auto;
      white-space: normal;
      display: block;
      padding: 10px; } }

.navbar-ico .hide-svg {
  display: none; }

.navbar-ico.show-text {
  font-size: 12px;
  font-size: 0.75rem;
  color: #000; }

.acc-photo {
  position: absolute;
  right: 15px; }
  .acc-photo:hover > .navbar-btns,
  .acc-photo:focus > .navbar-btns,
  .acc-photo:active > .navbar-btns {
    display: block; }
  .acc-photo .acc-photo-link {
    display: block;
    float: left;
    margin-top: 12px; }
  @media only screen and (max-width: 960px) {
    .acc-photo {
      top: 0;
      float: right; } }

.icon-down-dir {
  vertical-align: middle;
  display: none; }
  @media only screen and (max-width: 960px) {
    .icon-down-dir {
      display: inline; } }

.acc-photo__img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  vertical-align: middle; }

.header-nav {
  float: left; }
  .header-nav::after {
    clear: both;
    content: '';
    display: table; }
  .header-nav.active {
    display: block; }
  @media only screen and (max-width: 960px) {
    .header-nav {
      float: none;
      display: none;
      position: absolute;
      top: 60px;
      left: -100px;
      right: -100px;
      background: #EFEDF0;
      text-align: center; } }
  @media only screen and (max-width: 768px) {
    .header-nav {
      left: 0;
      right: 0; } }

.header-nav__list-item {
  display: inline-block; }
  @media only screen and (max-width: 950px) {
    .header-nav__list-item:hover {
      background-color: rgba(0, 0, 0, 0.01); } }

.header-nav__link {
  font-size: 13px;
  font-size: 0.8125rem;
  color: rgba(0, 0, 0, 0.87);
  padding: 23px 12px 22px 12px;
  display: block;
  font-weight: 500; }
  .header-nav__link:hover {
    color: #59728e; }
  @media only screen and (max-width: 960px) {
    .header-nav__link {
      font-size: 11px;
      font-size: 0.6875rem;
      padding: 10px 12px 10px 12px; } }

.icon-down-open-big {
  display: none;
  cursor: pointer;
  transition: all 0.2s linear; }
  .icon-down-open-big.active {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  @media only screen and (max-width: 960px) {
    .icon-down-open-big {
      display: inline-block; } }

.primary-nav-overlay {
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden; }
  .primary-nav-overlay.active {
    display: block;
    opacity: .9;
    visibility: visible;
    transition: all 0.3s ease; }
  @media only screen and (max-width: 960px) {
    .primary-nav-overlay {
      position: fixed;
      top: 93px;
      left: 0;
      right: 0;
      bottom: 0;
      background: #000;
      z-index: 4;
      transition: all 0.3s ease; } }

.conf-wrap {
  bottom: 36px;
  left: 0;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0; }
  @media only screen and (max-width: 1170px) {
    .conf-wrap {
      position: relative;
      height: 250px; } }

.chat-block {
  float: left;
  position: fixed;
  right: 0;
  top: 50px;
  bottom: 0;
  border: 0;
  border-bottom: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  width: 350px; }
  @media only screen and (max-width: 1170px) {
    .chat-block {
      width: 100%;
      position: relative; } }

.chat-wrap {
  height: 100%;
  background-color: #f9f9f9; }
  @media only screen and (max-width: 1170px) {
    .chat-wrap {
      width: 88.28125%;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid #eaeaea; } }

.conversation {
  list-style: none;
  margin: 0;
  padding: 0 0 50px; }
  .conversation li {
    overflow: hidden;
    padding: .5em;
    position: relative; }
  .conversation .chat-avatar-wrapper {
    height: 25px;
    position: relative;
    width: 25px; }
    .conversation .chat-avatar-wrapper img {
      border-radius: 2px;
      display: block;
      width: 100%; }

.other .chat-avatar-wrapper {
  border-radius: 2px;
  bottom: 8px;
  position: absolute; }

.other .message {
  background-color: #fff;
  color: #000;
  max-width: 230px; }
  .other .message:after {
    border-color: transparent #fff;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    bottom: 8px;
    content: '';
    display: block;
    left: -5px;
    position: absolute;
    width: 0;
    z-index: 1; }

.self .message {
  background-color: #dae3ed;
  color: #000;
  float: right; }
  .self .message:after {
    border-color: transparent #dae3ed;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    bottom: 8px;
    content: '';
    display: block;
    position: absolute;
    right: -5px;
    width: 0;
    z-index: 1; }

.message {
  border-radius: 2px;
  margin-left: 33px;
  padding: 10px;
  position: relative; }
  .message p {
    font-size: 0.8rem;
    margin: 0 0 0.2rem; }
  .message time {
    color: #878787;
    font-size: .7rem; }
  @media only screen and (max-width: 1170px) {
    .message {
      max-width: 400px; } }

.chat-input-area {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0; }
  .chat-input-area .chat-input-area__input {
    display: block;
    min-height: 35px;
    padding: 0 20px;
    width: 100%; }
  @media only screen and (max-width: 1170px) {
    .chat-input-area {
      position: relative; } }

.sidebar-collapse {
  height: 100%;
  background-color: #f9fafb; }

.side-menu {
  height: 100%;
  background-color: #f9fafb; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(55, 55, 55, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0s, visibility 0s 0.3s; }
  .modal.is-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 0s, visibility 0s 0s;
    z-index: 999; }

.modal-header {
  padding: 1em;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  background-color: #cfd9db; }

.modal-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #FFF;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  transform: translateY(-40px);
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-duration: 0.3s;
  margin-top: 200px; }

.set-date-form {
  padding-top: 0;
  padding: 2em; }

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px; }
  .modal-close-btn:before,
  .modal-close-btn:after {
    content: '';
    position: absolute;
    top: 12px;
    width: 14px;
    height: 1px;
    background-color: #47374e; }
  .modal-close-btn:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px; }
  .modal-close-btn:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px; }

.quick-view {
  background-color: #fff;
  display: block;
  max-width: 900px;
  z-index: 999;
  margin: 4em auto;
  position: relative;
  -webkit-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  transform: translateY(-40px);
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-duration: 0.3s;
  margin-top: 200px; }
  .quick-view::after {
    clear: both;
    content: '';
    display: table; }

.quick-view__photo {
  width: 40%;
  float: left; }

.quick-view__info {
  width: 60%;
  float: left;
  padding: 2em;
  transition: opacity 0.3s, visibility 0s; }
  .quick-view__info .quick-view__info-name {
    font-size: 24px;
    font-size: 1.5rem; }
  .quick-view__info .quick-view__info-about {
    font-size: 14px;
    font-size: 0.875rem;
    margin: 1em 0; }

.quick-view__info-btns-item {
  display: inline-block; }

.clear-float {
  float: none !important; }

.clear-padding {
  padding: 0; }

.c-form-label {
  font-size: 12px;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.87); }

.input, .c-input, .input-filter {
  font-size: 13px;
  font-size: 0.8125rem;
  border: 1px solid #cfd9db !important;
  border-radius: 2px;
  width: 100%;
  color: #676a6c; }
  .input:focus, .c-input:focus, .input-filter:focus {
    outline: none;
    border-color: #2c97de;
    box-shadow: 0 0 5px rgba(44, 151, 222, 0.2); }

.c-input {
  padding: 8px !important; }

.input-filter {
  padding: 5px !important; }

.caret {
  position: absolute;
  right: 10px;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.vacancies-container {
  margin: 20px 0; }

.vacancies__item {
  display: inline-block;
  margin-bottom: 10px; }

.vacancies-tag {
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 300;
  margin-right: 15px; }

.vacancies-label {
  font-size: 11px;
  font-size: 0.6875rem;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  display: inline;
  line-height: 1;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  padding: 0.3em 0.6em; }

.label-default {
  background-color: #777; }

.label-primary {
  background-color: #337ab7; }

.label-success {
  background-color: #5cb85c; }

.label-info {
  background-color: #5bc0de; }

.label-warning {
  background-color: #f0ad4e; }

.label-danger {
  background-color: #d9534f; }

#editor {
  width: 650px;
  height: 100%; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.ico-controll {
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px !important;
  padding: 23px 0; }
  @media only screen and (max-width: 960px) {
    .ico-controll {
      display: none !important; } }

.ico-company-locate {
  margin-right: 3px; }

.i-card {
  font-size: 11px;
  font-size: 0.6875rem;
  margin-right: 5px;
  color: #999; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.tooltip, .tooltip-v {
  position: relative; }
  .tooltip:hover:after, .tooltip-v:hover:after {
    background: #333;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    color: #fff;
    content: attr(aria-label);
    font-size: 11px;
    padding: 5px 8px;
    position: absolute;
    z-index: 98;
    white-space: nowrap; }
  .tooltip:hover:before, .tooltip-v:hover:before {
    border: solid;
    border-color: #333 transparent;
    border-width: 0 5px 5px 5px;
    content: '';
    position: absolute;
    z-index: 99; }

.tooltip-v:hover:after {
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -38px; }

.tooltip-v:hover:before {
  bottom: -15px;
  left: 0; }

@media only screen and (max-width: 960px) {
  .tooltip-v:hover:after {
    content: none; }
  .tooltip-v:hover:before {
    content: none; } }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.wrapper {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  height: 100%; }

.overlay {
  background: rgba(0, 0, 0, 0.7);
  height: 100%; }

.land-container {
  bottom: auto;
  left: 50%;
  right: auto;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  max-width: 400px;
  position: absolute; }

.landing-about {
  font-size: 16px;
  font-size: 1rem;
  color: #fff;
  font-weight: 300;
  margin-bottom: 50px;
  text-align: center; }

.landing-name {
  font-size: 25px;
  font-size: 1.5625rem;
  color: #fff;
  font-family: 'Tw Cen MT', sans-serif;
  font-weight: 300;
  margin-bottom: 100px;
  text-align: center; }

.logo {
  margin-bottom: 40px;
  text-align: center; }

.logo__item {
  width: 200px; }

.btn-wrap {
  margin-bottom: 20px;
  text-align: center; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.form-container {
  position: relative;
  width: 300px; }

.auth-form-body {
  padding: 35px 20px; }
  .auth-form-body .has-error {
    border: 1px solid #d76666; }

.input-block {
  font-size: 11px;
  font-size: 0.6875rem;
  background: none;
  color: rgba(255, 255, 255, 0.5);
  display: block;
  margin-bottom: 20px;
  padding: 10px 0;
  text-align: center;
  width: 100%; }

.error-message {
  font-size: 13px;
  font-size: 0.8125rem;
  display: inline-block;
  position: absolute;
  background: rgba(215, 102, 102, 0.9);
  padding: .8em;
  z-index: 2;
  color: #FFF;
  border-radius: .25em;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s 0, visibility 0 0.2s; }
  .error-message.is-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s 0, visibility 0 0; }
  .error-message:after {
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9); }

.forgot-pass, .register-with {
  font-size: 11px;
  font-size: 0.6875rem;
  color: rgba(255, 255, 255, 0.5); }
  .forgot-pass:hover, .register-with:hover {
    text-decoration: underline; }

.help-btns-wrapper {
  margin-bottom: 20px; }
  .help-btns-wrapper::after {
    clear: both;
    content: '';
    display: table; }

.login-button, .register-button {
  font-size: 14px;
  font-size: 0.875rem;
  background-color: #0c6b95;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 15px;
  outline: none;
  padding: 10px 0;
  text-align: center;
  width: 100%; }

.social-btns {
  display: inline-block;
  margin-left: 90px;
  vertical-align: middle;
  float: right; }
  .social-btns::after {
    clear: both;
    content: '';
    display: table; }

.facebook-ico {
  background: url("../images/facebook.svg");
  background-size: cover;
  display: block;
  float: left;
  height: 20px;
  width: 20px; }

.google-ico {
  background: url("../images/google.svg");
  background-size: cover;
  display: block;
  float: left;
  height: 20px;
  margin-left: 10px;
  width: 20px; }

.dha {
  font-size: 11px;
  font-size: 0.6875rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center; }
  .dha a {
    color: rgba(255, 255, 255, 0.8); }

.register-with {
  font-size: 11px;
  font-size: 0.6875rem;
  color: rgba(255, 255, 255, 0.5);
  float: left; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.remote-video {
  width: 100%; }

.local-video {
  border: 2px solid rgba(0, 0, 0, 0.15);
  bottom: 20px;
  position: absolute;
  right: 20px;
  width: 20%;
  z-index: 999999999999; }

.video-block {
  position: relative; }
  @media only screen and (max-width: 1170px) {
    .video-block {
      float: none;
      width: 100%; } }
  .video-block .video-btns {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: none;
    bottom: 20px;
    position: absolute;
    z-index: 999999999999; }
    .video-block .video-btns svg path.on {
      display: none; }
    .video-block .video-btns svg path.off {
      display: block; }
  .video-block:hover .video-btns {
    display: block;
    transition: all 0.3s ease-in-out; }

#mute-audio {
  cursor: pointer;
  transition: 120ms;
  fill: #59728e; }
  #mute-audio:hover {
    fill: #12a256; }

#mute-video {
  cursor: pointer;
  transition: 120ms;
  fill: #59728e; }
  #mute-video:hover {
    fill: #407cf7; }

#fullscreen {
  cursor: pointer;
  transition: 120ms;
  fill: #59728e; }
  #fullscreen:hover {
    fill: #ff9f00; }

#hangup {
  cursor: pointer;
  transition: 120ms;
  fill: #dd2c00; }
  #hangup:hover {
    fill: #B52400; }

/*hide controls from shadow DOM in webkit browsers*/
/* hides controls only in fullscreen, but shows them in normal screen even if controls is set to false*/
/*the most specific pseudo-element to target video controls on full screen*/
video::-webkit-media-controls-enclosure {
  display: none !important; }

main.test-vid {
  right: 350px;
  position: absolute; }
  @media only screen and (max-width: 1170px) {
    main.test-vid {
      right: 0;
      position: relative; } }

.accordion {
  width: 100%;
  overflow: hidden;
  position: relative; }

.accordion__title {
  font-size: 13px;
  font-size: 0.8125rem;
  padding: 0 1em;
  float: left;
  line-height: 3;
  height: 3em;
  cursor: pointer;
  margin-right: .25em;
  background: #f9f9f9;
  border: 1px solid #eee;
  border-bottom: 0; }

.no-js .accordion__title {
  float: none;
  height: auto;
  cursor: auto;
  margin: 0;
  padding: 0 2em; }

.accordion__content {
  float: right;
  width: 100%;
  margin: 2.5em 0 0 -100%;
  border-top: 1px solid #eee; }

.no-js .accordion__content {
  float: left;
  margin: 0; }

.no-js .accordion__title:hover {
  background-color: #ccc;
  color: #222; }

.accordion__title.active {
  border-top-color: lime; }

@media (max-width: 48em) {
  .accordion {
    border: 1px solid #f9f9f9; }
  .accordion__title,
  .accordion__content {
    float: none;
    margin: 0; }
  .accordion__title:first-child {
    border: none; }
  .accordion__title.active {
    border-top-color: #eee; }
  .accordion__title.active, .accordion__title:hover {
    background: #777; }
  .accordion__title:before {
    content: "+";
    text-align: center;
    width: 2em;
    display: inline-block; }
  .accordion__title.active:before {
    content: "-"; }
  .overflow-scrolling {
    overflow-y: scroll;
    height: 11em;
    padding: 1em 1em 0 1em;
    /* Warning: momemtum scrolling seems buggy on iOS 7  */
    -webkit-overflow-scrolling: touch; }
  .accordion__content {
    position: relative;
    overflow: hidden;
    padding: 0; }
  .no-js .accordion__content {
    padding: 1em;
    overflow: auto;
    display: block; }
  .accordion__content:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 50px;
    border-radius: 10px 0 0 10px/50% 0 0 50%;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5);
    content: ''; } }

.note__item {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 1em;
  width: 22%;
  background-color: #fff; }
  @media only screen and (min-width: 768px) {
    .note__item {
      width: 48%;
      display: inline-block; } }

.note-date {
  font-size: 11px;
  font-size: 0.6875rem;
  text-align: right;
  margin-bottom: 10px;
  text-decoration: underline; }

.note-helper {
  margin-top: 20px; }

.note-body {
  text-align: left; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.company-page {
  overflow-x: hidden; }

.sideblock {
  background-color: #161616;
  bottom: 0;
  color: #fff;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 280px;
  left: -280px;
  transition: all 0.3s ease-in-out; }
  .sideblock.active {
    left: 0; }

.int-section {
  margin-bottom: 50px;
  margin-top: 25px; }

.int-section__header {
  font-weight: 400;
  letter-spacing: 5px;
  margin-bottom: 45px;
  text-align: center; }

.int-section__list {
  list-style: disc;
  padding-left: 40px; }

.int-section__list > li {
  margin-bottom: 15px; }
  .int-section__list > li.red {
    color: #d65831; }
  .int-section__list > li.green {
    color: #40bf53; }
  .int-section__list > li.orange {
    color: #c38c17; }
  .int-section__list > li.blue {
    color: #31d6cc; }

.int-section__list > li > span {
  color: #fff;
  font-size: 14px; }

.pay-attention {
  margin-bottom: 50px;
  padding: 0 25px; }

.pay-attention__header {
  color: #6b6b6b;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px; }

.card-link {
  color: #fff;
  font-size: 14px; }

.user-skills {
  color: #6b6b6b;
  font-size: 11px; }

.p-photo-container {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle; }

.card-link__photo {
  border-radius: 50%;
  width: 100px; }

.card-container {
  display: inline-block;
  vertical-align: middle; }

.footer-list {
  padding: 0 25px; }

.footer-list__item {
  display: inline-block; }

.footer-link {
  color: #6b6b6b;
  font-size: 10px; }
  .footer-link:hover {
    text-decoration: underline; }

.copyright {
  color: #6b6b6b;
  font-size: 10px; }

.c-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 88.28125%;
  padding-bottom: 30px;
  padding-top: 40px; }
  .c-content::after {
    clear: both;
    content: '';
    display: table; }

.c-content-header {
  margin-bottom: 20px; }
  .c-content-header::after {
    clear: both;
    content: '';
    display: table; }

.c-content-header__name {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  font-weight: 400;
  float: left;
  margin-right: 15px; }

.btn-group {
  position: relative;
  float: left;
  margin-right: 15px; }

.range-wrapper {
  float: left; }
  .range-wrapper p {
    margin-bottom: 5px; }
  .range-wrapper #amount {
    border: 0;
    color: #ebc43c;
    font-weight: bold; }
  .range-wrapper .amount-label {
    font-size: 13px;
    font-size: 0.8125rem; }

#slider-range {
  border-radius: 2px;
  height: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative; }

.ui-slider-handle {
  height: 10px;
  position: absolute;
  z-index: 2;
  width: 1.2em;
  cursor: default;
  top: -2px;
  background-color: #ccc;
  border: 1px solid #9f9f9f; }

.grid-controls {
  float: right;
  margin-top: 5px; }
  .grid-controls i {
    cursor: pointer; }
  .grid-controls i:hover {
    color: #59728e; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.userpage-content-block {
  position: relative;
  top: 66px; }

.normal-flow {
  left: 0; }

.u-avatar-wrapper {
  float: left;
  width: 20%; }

.u-avatar {
  margin-bottom: 5px; }

.user-button {
  font-size: 11px;
  font-size: 0.6875rem;
  margin-bottom: 6px;
  border-radius: 2px; }

.video-call-btn {
  background: #5cb85c; }

.u-name__name {
  font-size: 24px;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400; }

.u-info-section::after {
  clear: both;
  content: '';
  display: table; }

.u-info {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 80%; }

.col {
  float: left;
  padding-right: 15px;
  padding-left: 15px; }

.left-col {
  width: 60%; }

.right-col {
  float: right;
  padding-left: 15px;
  padding-right: 15px; }

.rc-table {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-color: #f9f9f9; }

.rc-table__col {
  padding: .5em; }

.short-info {
  font-size: 12px;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500; }

.place {
  margin-right: 15px; }

.p-about {
  font-size: 13px;
  font-size: 0.8125rem;
  margin-top: 15px; }

.col-exp {
  width: 50%; }

.p-content-head {
  font-size: 16px;
  font-size: 1rem;
  color: #59728e;
  font-weight: 300; }

.row-exp-skill {
  margin-bottom: 50px; }
  .row-exp-skill::after {
    clear: both;
    content: '';
    display: table; }

.exp-list__item {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 1.5em 0;
  text-align: left; }

.exp-content {
  margin-top: 20px; }

.exp-vacancy {
  margin-right: 5px;
  color: #207cca; }

.exp-timeline {
  font-size: 13px;
  font-size: 0.8125rem; }

.u-avatar__btns-wrap {
  margin-bottom: 10px;
  padding: 4px;
  background-color: #F1F1F1; }
  .u-avatar__btns-wrap :last-child {
    margin-bottom: 0; }

.separator {
  position: relative;
  margin: 15px 0; }
  .separator span {
    padding: 5px 20px;
    background: #f9fafb;
    font-weight: 300;
    position: relative; }
  .separator:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #e3e6e7;
    position: absolute;
    top: 50%; }

.experience {
  text-align: center; }

.position-link {
  font-size: 16px;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400; }

.exp-company-link {
  font-size: 14px;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 400; }

.projects {
  margin-top: 5px;
  margin-left: 10px; }

.projects-head {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #99a6af;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer; }
  .projects-head:hover {
    color: #0073B2; }
  .projects-head span {
    height: 0;
    width: 0;
    border-style: dashed;
    border-color: transparent;
    border-width: 4px 4px 0;
    border-top-color: #535353;
    border-top-style: solid;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    text-indent: -12345px;
    white-space: nowrap;
    overflow: hidden;
    margin: -2px 3px 0 0; }
  .projects-head span.closed {
    height: 0;
    width: 0;
    border-style: dashed;
    border-color: transparent;
    border-width: 4px 0 4px 4px;
    border-left-color: #535353;
    border-left-style: solid;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    text-indent: -12345px;
    white-space: nowrap;
    overflow: hidden;
    margin: -2px 3px 0 0;
    margin-right: 7px; }

.projects-content.closed {
  display: none; }

.project-list {
  width: 554px; }
  .project-list::after {
    clear: both;
    content: '';
    display: table; }

.project-list__item {
  float: left;
  width: 277px;
  padding-top: 0px;
  padding-bottom: 15px;
  padding-left: 0px;
  padding-right: 10px; }

.project-list__project-name {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  text-decoration: underline; }

.project-list__project-about {
  font-size: 13px;
  font-size: 0.8125rem; }

.exp-list__company-logo {
  width: 100px;
  float: right;
  text-align: center; }

.profile-status {
  font-size: 13px;
  font-size: 0.8125rem;
  border: 1px solid #e3e6e7;
  text-align: center; }
  .profile-status tbody tr:nth-child(even) td {
    border-bottom: 0; }

.profile-status__col {
  padding: 8px;
  border-bottom: 1px solid #e3e6e7; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.search-wrapper {
  padding: 2em 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 88.28125%; }
  .search-wrapper::after {
    clear: both;
    content: '';
    display: table; }

.filter {
  float: left;
  margin-right: 50px; }

input.input-filter {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  padding: 0.5em 1.5em; }

.companylist-wrapper {
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 83.33333%; }

.company-list {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 1px #d4d4d5, 0 1px 1px #d4d4d5; }
  .company-list :last-child {
    border-bottom: 0; }

.company-list__item {
  border-bottom: 1px solid #e7eaec;
  padding: 10px;
  display: table;
  padding-right: 0; }
  .company-list__item::after {
    clear: both;
    content: '';
    display: table; }

.company-col {
  display: table-cell;
  vertical-align: middle; }

.company-logo {
  padding: 1em;
  width: 20%; }

.company-info {
  padding: 1em;
  width: 65%;
  border-right: 1px solid #e7eaec; }

.company-head::after {
  clear: both;
  content: '';
  display: table; }

.company-head__name {
  font-size: 16px;
  font-size: 1rem;
  margin: 0;
  font-weight: 500; }

.company-head__btn {
  font-size: 11px;
  font-size: 0.6875rem; }

.company-site {
  font-size: 12px;
  font-size: 0.75rem;
  color: blue;
  margin-left: 10px; }
  .company-site:hover {
    text-decoration: underline; }

.company-location {
  font-size: 12px;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500; }

.company-body {
  margin-bottom: 15px; }

.company-body__about {
  font-size: 13px;
  font-size: 0.8125rem;
  margin-top: 10px;
  text-overflow: ellipsis; }

.company-more {
  width: 15%;
  text-align: center;
  padding: 1em; }

.company-more__inf {
  margin-bottom: 15px; }

.company-more__num-emp {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0; }

.company-more__label {
  font-size: 13px;
  font-size: 0.8125rem;
  display: block;
  font-weight: 400; }

.filter-wrap {
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 16.66667%; }

.cl-filter {
  margin-bottom: 15px; }

.filter-list {
  text-align: right;
  border-right: 2px solid #59728e;
  padding-right: 10px;
  margin-bottom: 40px; }

.filter-list__item {
  padding: 3px 0; }

.filter-list-link {
  font-size: 13px;
  font-size: 0.8125rem;
  color: rgba(0, 0, 0, 0.87); }
  .filter-list-link:hover {
    text-decoration: underline; }

.filter-list-label {
  font-size: 16px;
  font-size: 1rem;
  color: #59728e;
  font-weight: 500; }

.company-body__vac-type {
  font-size: 12px;
  font-size: 0.75rem;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.c-form {
  max-width: 600px; }

.c-form-fieldset {
  margin: 24px 0;
  border: 0; }

.u-fieldset {
  margin: 0; }

.form-section-legend {
  font-size: 16px;
  font-size: 1rem;
  width: 100%;
  display: block;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ecf0f1;
  font-weight: 400; }

.error-msg {
  margin-top: 10px;
  margin-bottom: 28px;
  display: none; }
  .error-msg p {
    font-size: 13px;
    font-size: 0.8125rem;
    background: #e94b35;
    color: #ffffff;
    text-align: center;
    border-radius: .25em;
    padding: 10px; }
  .error-msg.is-visible {
    display: block; }

.icon {
  margin: 15px 0; }

.submit-wrapper::after {
  clear: both;
  content: '';
  display: table; }

.submit-wrapper .c-btn-submit {
  font-size: 13px;
  font-size: 0.8125rem;
  border: 0;
  cursor: pointer; }

.c-description {
  min-height: 200px;
  resize: vertical;
  overflow: auto; }

.r-company__head {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 15px; }

.r-company__about {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #666; }

#msform {
  max-width: 750px;
  margin: 50px auto;
  text-align: center;
  position: relative; }

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  position: absolute;
  background: #fafafa;
  border-bottom: 1px solid #e7eaec;
  border-color: #e7eaec;
  border-style: solid solid none;
  border-width: 4px 0px 0; }

#msform fieldset:not(:first-of-type) {
  display: none; }

#msform input,
#msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px; }

#msform .action-button {
  width: 100px;
  background: #0c6b95;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px; }

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60; }

.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px; }

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px; }

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step; }

#progressbar li {
  list-style-type: none;
  color: #000;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative; }

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto; }

#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; }

#progressbar li:first-child:after {
  content: none; }

#progressbar li.active:before,
#progressbar li.active:after {
  background: #0c6b95;
  color: white; }

.vid-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 70px; }

.videos {
  font-size: 0;
  height: 100%;
  pointer-events: none;
  position: absolute;
  transition: all 1s;
  width: 100%; }

.video-controlls {
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  bottom: 20px;
  position: absolute;
  z-index: 999999999999; }
  .video-controlls svg {
    margin-right: 10px; }
    .video-controlls svg path.on {
      display: none; }
    .video-controlls svg path.off {
      display: block; }

.vid-body:hover .video-controlls {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in-out; }

.r-remote-video {
  display: block;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%; }

.navbar-side {
  width: 70px;
  position: absolute;
  right: 0;
  height: 100%;
  z-index: 9999999999;
  background-color: #f9fafb; }

.side-menu__item {
  display: block;
  position: relative; }
  .side-menu__item i {
    margin-left: 3px; }
  .side-menu__item.active {
    border-right: 4px solid #59728e;
    background-color: #ECECEC; }
    .side-menu__item.active .side-menu-link {
      color: #000; }

.side-menu-link {
  display: block;
  padding: 25px 20px 25px 25px;
  color: rgba(0, 0, 0, 0.54); }
  .side-menu-link:hover {
    background-color: #ECECEC;
    color: #000; }

.side-menu-logo {
  display: block;
  padding: 16px 20px 15px 25px;
  background-color: #59728e;
  color: #fff; }

.c-chat-wrap {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  right: 0px;
  top: 0px;
  bottom: 0;
  border: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;
  background-color: #ECECEC; }
  .c-chat-wrap.active {
    opacity: 1;
    visibility: visible;
    right: 70px;
    transition: all 0.3s ease-in-out; }

.chat-inner {
  width: 350px;
  height: 100%; }

.form-chat {
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0; }
  .form-chat .form-chat__control {
    display: block;
    padding: 8px 35px;
    width: 100%;
    border-radius: 2px;
    border-bottom: 0; }

.c-conf-wrap {
  bottom: 53px;
  left: 0;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 50px; }

.paperclip-link {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #676a6c; }

.emoticons-link {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #676a6c; }

.chat-head {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999; }

.chat-head-inner {
  padding: 16px 20px 15px 25px;
  color: #fff;
  background-color: #59728e; }

.chat-head-ico {
  display: inline-block; }

.chat-head-text {
  font-size: 16px;
  font-size: 1rem; }

.ico-time {
  margin-right: 5px; }

.note .note-msg {
  background-color: #dae3ed;
  color: #000; }

.note-msg {
  border-radius: 2px;
  margin-left: 33px;
  padding: 10px;
  position: relative; }
  .note-msg p {
    font-size: 0.8rem;
    margin: 0 0 0.2rem; }
  .note-msg time {
    color: #878787;
    font-size: .7rem; }
