
<ul class="navbar-btns">
  <li class="navbar-btns__item"><a href="#" aria-label="Search" class="navbar-ico img-replace tooltip-v">SEARCH<i class="fa ico-controll fa-search"></i></a></li>
  <li class="navbar-btns__item"><a href="#" aria-label="Messages" class="navbar-ico img-replace tooltip-v">MESSAGES<i class="fa ico-controll fa-comments-o"></i></a></li>
  <li class="navbar-btns__item"><a href="#" aria-label="Actions" class="navbar-ico img-replace tooltip-v">ACTIONS<i class="fa ico-controll fa-bell-o"></i></a></li>
  <li class="navbar-btns__item"><a href="#" aria-label="Settings" class="navbar-ico img-replace tooltip-v">SETTINGS<i class="fa ico-controll fa-cog"></i></a></li>
</ul>